$tablet-width: 768px;
$desktop-width: 1200px;
$main-font-color: #555555;
$main-yellow-color: #fbd229;
$main-gray-color: #9d9d9c;
$gray-diagram: #ececec;
$main-green-color: #70a74b;
$main-red-color: #ed5243;
$table-background: #f9f9f9;
$main-font: "Gotham Pro", arial, sans-serif;
